<div class="container">	
	<h2><%= @user.name %></h2>
	<div>
		<p>Surveys taken: </p>
		<% @user.survey_users.each do |survey_user| %>
			<a href="/surveys/ <%= survey_user.survey.id %>"><%= survey_user.survey.title %></a><br>
		<% end %>
	</div>

<div>
	<p>Surveys made: </p>
	<% @user.surveys.each do |survey| %>
		<div class='survey-div'>
			<a href="/surveys/<%= survey.id %>"><%= survey.title %></a>
				<form class='stats-button' action='/surveys/<%= survey.id %>/stats'>
					<input type='submit' value='stats'>
				</form><br>	
				<div class='survey-stats'>
					<%= erb :'surveys/_survey_stats', locals: {survey: survey} %>
				</div>
		</div>
	<% end %>
</div>
