
<div class="container">	
	<h2><%= @user.name %></h2>
	<div>
		<p>Surveys taken: </p>
		<% @user.survey_users.each do |survey_user| %>
			<a href="/surveys/ <%= survey_user.survey.id %>"><%= survey_user.survey.title %></a><br>
		<% end %>
	</div>

<div class='container'>
<p>Surveys made: </p>
<div class='survey-div'>
	<% @user.surveys.each do |survey| %>
		<a href="/surveys/<%= survey.id %>"><%= survey.title %></a>
			<form class='stats-button' action='/surveys/<%= survey.id %>/stats'>
				<input type='submit' value='stats'>
			</form><br>	
	<% end %>
</div>
<div class='survey-stats'></div>
