<div class="container">
  <div id="show-survey">
    <h2><%= @survey.title %></h2>
    <p><%= @survey.description %></p>
    <button type="button" class="survey-button" id="show">Show Survey</button>
    <form id="take-survey" action="/survey_users" method="POST">
      <input type="hidden" name="survey_user[user_id]" value="<%= current_user.id %>">
      <input type="hidden" name="survey_user[survey_id]" value="<%= @survey.id %>">
      <button type="submit" class="survey_button">Take Survey</button>
    </form>
    <div id="instructions">
      <p>Please select <span>one</span> answer from the choices provided.</p>
    </div>
    <div id="questions">
      <% @questions.each do |question| %>
        <%= erb :_question, locals: {question: question} %>
      <% end %>
    </div>
    <div id="question-display">
    </div>
  </div>
</div>
